server {
    
    listen 80;
    
    server_name ${PROJECT};
    root /home/dev/projects/${PROJECT}/public;
    
    index index.php index.html index.htm;

    location / {
        try_files $uri /index.php?$args;
    }

   location ~ ^/(index)\.php(/|$) {
        fastcgi_pass ;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    error_log /var/log/nginx/${PROJECT}.error.log;
    access_log /var/log/nginx/${PROJECT}.access.log;
}